# ─────────────────────────────────────────
# ENVIRONMENT VARIABLES
# ─────────────────────────────────────────
.env
*.env

# ─────────────────────────────────────────
# TERRAFORM
# ─────────────────────────────────────────
terraform.tfvars
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# ─────────────────────────────────────────
# PYTHON
# ─────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# ─────────────────────────────────────────
# DOCKER
# ─────────────────────────────────────────
*.log

# ─────────────────────────────────────────
# OS FILES
# ─────────────────────────────────────────
.DS_Store
Thumbs.db

# ─────────────────────────────────────────
# SSH KEYS
# ─────────────────────────────────────────
*.pem
*.key
